---
apiVersion: v1
kind: Pod
metadata:
  name: '{{ pod1_name }}'
  labels:
    drain: unmanaged-pod
spec:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchFields:
              - key: metadata.name
                operator: In
                values:
                  - '{{ node_to_drain }}'
  containers:
    - name: busybox-container
      image: busybox
      command:
        - /bin/sh
        - -c
        - while true;do date;sleep 5; done