---
name: Test collection

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

on:  # yamllint disable-line rule:truthy
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  changelog:
    uses: abikouo/github_actions/.github/workflows/cloud-changelog.yml@gha_cloud